<%- include("partials/header"); -%> 


<header class="header header--blog" style="background-image: none; height: 50rem;">
            
    <div class="header__content">

           
            
                <h1 class="header-primary">BL Blog</span>.</h1>
                <h2 class="header-secondary">Recipes, thoughts & nutritional tips.</h2>

                <div>
                    <a class="social-link" href="https://www.facebook.com/bethaddeynutrition"><i class="fab fa-facebook fa-5x"></i></a>
                    <a class="social-link" href="https://www.instagram.com/bethsgonevegan/?hl=en"><i class="fab fa-instagram fa-5x"></i></a>
                </div>

    </div>

    


    <svg width="0" height="0">
        <defs>
          <clipPath id="headerCurve" clipPathUnits="objectBoundingBox">
            <path d="M 0,1
            L 0,0
            L 1,0
            L 1,.85
            C .65 .95, .35 .95, 0 .85
            Z" />
          </clipPath>
        </defs>
      </svg>

</header>



<section class="section-blog">

        <%for (const post of posts) {%>
                <div class="blog--wide__card u-margin-bottom-medium">
                    <div class="blog--wide__card-container" style="background-image: url(<%=post.image.url%>);">

                    </div>
                    <div class="blog--wide__card-content">
                        <h3 class="u-margin-bottom-small header-tertiary">
                            <%=post.title%></h3>
                        <h3 class="u-margin-bottom-small">
                            <%=post.date%></h3>

                        
                        <div class="text"><%=post.sanitizedHtml%></div>

                    </div>
                    <a href="/blog/posts/<%=post.slug%>" class="blog--wide__card-readmore">Read More</a>
                </div>

        <% } %>

</section>




<%- include("partials/footer"); -%>