<%- include("partials/header"); -%> 


<header class="header">
            
    <div class="header__content">
        <div class="row">
            <div class="col-1-of-2">
                <img class="header__img" srcset="/img/1x/veg-group.png 1x, /img/2x/veg-group@2x.png 2x" alt="">
            </div>
            <div class="col-1-of-2">
                <h1 class="header-primary">Veganism <br> done <span class="span--primary">right</span>.</h1>
                <h2 class="header-secondary u-margin-bottom-medium u-margin-top-small">Vegan nutrition & weight management.</h2>
                <a href="https://bethaddey.typeform.com/to/PsNN233p" target="_blank" class="btn">Consultation</a>
                <a href="#footer" class="btn u-margin-left-small">Free Fitness Plan</a>
            </div>
        </div>
    </div>


    <svg width="0" height="0">
        <defs>
          <clipPath id="headerCurve" clipPathUnits="objectBoundingBox">
            <path d="M 0,1
            L 0,0
            L 1,0
            L 1,.85
            C .65 .95, .35 .95, 0 .85
            Z" />
          </clipPath>
        </defs>
      </svg>

</header>

<section class="section-about">

            <div class="section-about__container">

                <div class="section-about__container-left">
                    <div class="composition">
                        <img class="composition__img" srcset="/img/1x/beth-out.png 1x, /img/2x/beth-out@2x.png 2x" alt="">
                        <img class="composition__veg composition__veg-1" srcset="/img/1x/carrot.png 1x, /img/2x/carrot@2x.png 2x" alt="">
                        <img class="composition__veg composition__veg-2" srcset="/img/1x/radish.png 1x, /img/2x/radish@2x.png 2x" alt="">
                        <img class="composition__veg composition__veg-3" srcset="/img/1x/turnip.png 1x, /img/2x/turnip@2x.png 2x" alt="">
                    </div>
        
                </div>



                <div class="section-about__container-right">
                    <div class="section-about__content u-center-text">
                        <h2 class="header-secondary u-margin-bottom-small">My name is Beth Addey</h2>
                    <p class="text u-margin-bottom-small">Nutritionist (<span class="span--secondary">MSc</span>)</p>
                    <p class="text">I’m a vegan health & weight loss nutritionist
                        who helps people achieve their health goals
                        and adopt a positive attitude towards food
                        through mindful eating strategies. </p>
                        <a href="/about" class="btn u-margin-top-small">Learn More</a>
                    </div>
                </div>
           

                

            </div>


</section>

<section class="section-slogan">

    <h2 class="header-primary">Mindful <span class="span--secondary">Eating</span> <br>
        Happy <span class="span--primary">Vegan</span></h2>
        <h3 class="header-secondary u-margin-top-small">Let's begin your healthiest journey together.</h3>
</section>

<section class="section-latest-blog">

    <h2 class="header-secondary u-margin-bottom-medium">Latest from the blog</h2>

    <div class="section-latest__posts">
      

    <%for (const post of posts) {%>
            <div class="blog__card">
                <div class="blog__card-container">
                    <img class="blog__card-container-img" src=<%=post.image.url%>>
                </div>
                <div class="blog__card-content">
                    <h3 class="u-margin-bottom-small"><%=post.title%></h3>
                    <p class="text"><%=post.markdown%></p>
                    
                </div>
                <a href="/blog/posts/<%=post.slug%>" class="blog__card-readmore">Read More</a>
            </div>
    <% } %>

</div>

    <a href="/blog" class="btn readmore u-margin-top-big">See More from the Blog</a>
</section>




<%- include("partials/footer"); -%>